<form action="/course/add" method="post">
    <p>
        <label>course Name</label><input value="" name="courseName"/><br>
        <label>course ID</label><input value="" name="courseId"/><br>
        <label>course Fees</label><input value="" name="courseFee"/><br>
        <button type="submit"> Add Course</button>
    </p>
</form>
